@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap");

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.overlay {
  align-items: center;
  background: #1e212d;
  display: flex;
  height: calc(100vh - 10px);
  justify-content: center;
  margin: 5px;
  width: calc(100vw - 10px);
}

.name {
  color: white;
  font-size: 30px;
  line-height: 0.5;
}

.firstName {
  color: rgba(132, 179, 245, 1);
  font-family: "RocknRoll One", sans-serif;
  font-size: 72px;
}

.lastName {
  color: white;
  font-family: "RocknRoll One", sans-serif;
  font-size: 72px;
}

.title {
  font-family: "Antonio", sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 40px;
}

.external_links {
  display: flex;
  justify-content: center;
}

.icon {
  font-size: 36px;
  margin: 0 20px;
  transition: all 0.2s ease-in-out;
}

.icon:hover {
  color: rgba(132, 179, 245, 1);
  cursor: pointer;
  transform: scale(1.4);
}

@media screen and (max-width: 600px) {
  .firstName {
    font-size: 40px;
  }

  .lastName {
    font-size: 40px;
  }
  .title {
    font-size: 26px;
  }

  .icon {
    font-size: 30px;
  }
}
